.navbar{
    width: 100%;
    height: 69px;
    background-color: #EFF1F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.olx-navbar-logo{
    width: 50px;
    margin-left: 20px;
}
.search-icon{
    width: 25px;
    height: auto;
    position: absolute;
    margin-left: 103px;
}
.country-dropdown{
    font-size: medium;
    width: 250px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #002F34;
    padding-left: 40px;
}
.search-box{
    font-size: medium;
    width: 850px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #002F34;
    padding-left: 10px;
}
.search-img{
    width: 50px;
    position: absolute;
    margin-left: 1158px;
    border-radius: 4px;
    cursor: pointer;
}
.language-dropdown{
    border: none;
    font-weight: bolder;
    background: #EFF1F3;
    color: #002F34;
}
.login{
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    background: #EFF1F3;
    color: #002F34; 
    cursor: pointer;
}
.login:hover{
    text-decoration: none;
}
.sell{
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
}