.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    color: #002F34;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    color: #002F34;
    margin: 10px 0 5px;
}

.form-container input, .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="file"] {
    border: none;
}

.form-container button {
    background-color: #002F34;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #014247;
}
